@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary: #254174;
    --white: #fff;
    --light-grey: #ECECEC;
    --black: #1C1C1C;
    --boxShadow: 0px 3px 6px #00000029;
    --borderRadius: 26px;
    --overlay: var(--black);
    --overlayVertical: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 24%, rgba(0,0,0,0) 70%);
    --transition: all .25s ease-in-out;

    --art-h1-mobile-font-size: 30px;
    --art-h2-mobile-font-size: 26px;
    --art-h3-mobile-font-size: 24px;
    --art-h5-mobile-font-size: 20px;

    --art-button-letter-spacing: 0;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-weight: 400;
}

.art-header {
    background-color: var(--white);
	padding: 0;
}

.art-header .art-logo img {
    width: 250px;
}

.art-header .nav-item span {
    color: #000;
}

.art-color-scheme-second .art-nav-menu ul.menu > li > a span:before {
    background-color: #000;
}

.art-main-container .art-page .elementor-button-wrapper .elementor-button {
    color: var(--black);
    background-color: transparent;
    border: 1px solid var(--black);
    transition: var(--transition);
}

.art-main-container .art-page .elementor-button-wrapper .elementor-button:hover {
    color: var(--white);
    background-color: var(--black);
    transition: var(--transition);
}

.art-main-container .art-page .white-btn .elementor-button {
    color: var(--white);
    border: 1px solid var(--white);
}

.art-main-container .art-page .white-btn .elementor-button:hover {
    color: var(--black);
    background-color: var(--white);
}

.art-color-scheme-second .art-header-button {
	color: var(--black);
	border-color: var(--black);
}

.art-header .art-color-scheme-second .hamburger-inner, 
.art-header .art-color-scheme-second .hamburger-inner::before, 
.art-header .art-color-scheme-second .hamburger-inner::after{
    background-color: var(--black);
}

.form-wrapper {
    display: flex;
    width: 100%;
    padding: 30px;
    margin: 0 auto;
}

.form-wrapper form {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

.form-wrapper.large form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

.form-wrapper input {
    color: var(--black);
    flex: 1;
    width: 100%;
    padding: 16px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border: none;
    border-bottom: 1px solid var(--primary);
    border-radius: 0;
    height: 60px;
    outline: none;
    font-size: 18px;
    transition: border-bottom 200ms ease;
}

.form-wrapper input:focus {
    transition: border-bottom 200ms ease;
    border-bottom: 2px solid var(--primary);
}

.form-wrapper .btn {
    color: var(--white);
    background-color: var(--primary);
    border-bottom: 1px solid var(--primary);
    transition: border-bottom 200ms ease;
    transition: var(--transition);
    margin-top: 20px;
    border-radius: 12px;
}

.form-wrapper .btn:hover {
    transform: scale(1.02);
}

.art-apartment-post.art_apartment_type-uitverkocht {
    opacity: 0.4;
}

.no-tag .art-apartment-post-info {
    display: none;
}

.full-color .art-apartment-post.art_apartment_type-uitverkocht {
    opacity: 1;
}

.values-wrapper .item {
    background-color: var(--white);
    padding: 30px;
}

.art-headline {
    display: none!important;
}

.art-header {
    position: sticky;
    transform: translateY(0);
}

.art-header.art-sticky-hide {
    transform: unset;
}

.art-header {
    position: fixed!important;
    border-bottom: 1px solid #00000020!important;
}

.art-nav-menu ul.menu > li > a span {
    font-size: 16px;
}

.art-footer-widgets__area p,
.art-footer-widgets__area a {
    font-size: 14px;
    text-transform: none;
    font-weight: 400;
    font-family: Poppins;
}

.art-footer-widgets__area .widget_nav_menu li {
    margin-top: 0;
}

[data-post-type="art-apartment"] .art-ajax-terms-list {
    display: flex;
}

[data-post-type="art-apartment"] .art-ajax-terms-list .art-ajax-terms-list-item:nth-child(1) {
    order: 1; /* First child stays in place 1 */
}

[data-post-type="art-apartment"] .art-ajax-terms-list .art-ajax-terms-list-item:nth-child(2) {
    order: 3; /* Second child goes to place 3 */
}

[data-post-type="art-apartment"] .art-ajax-terms-list .art-ajax-terms-list-item:nth-child(3) {
    order: 2; /* Third child goes to place 2 */
}

@media (max-width: 560px) {
    .art-header-button {
        padding: 15px;
    }

    .form-wrapper form {
        width: 100%;
    }

    h5.art-post-title {
        font-size: 20px;
    }
}