<div class="form-wrapper">
    <form action="https://formspree.io/f/mqkrdgga" method="post" target="_blank" novalidate>
        <div class="form-row">
            <input type="text" value="" name="first-name" placeholder="Voornaam*" required>
            <input type="email" value="" name="company" placeholder="Familienaam*" required>
        </div>
        <div class="form-row">
            <input type="email" value="" name="email" placeholder="E-mailadres*" required>
        </div>
        <div class="form-row">
            <input type="text" value="" name="message" placeholder="Hoe kunnen we je helpen?*">
        </div>
        <input type="submit" value="Verstuur ➔" name="subscribe" class="btn">
    </form>
</div>